@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    height: 100%;
    @apply bg-gray-50;
  }
}

@layer components {
  .h1 {
    @apply xl:text-4xl lg:text-3xl text-2xl font-bold;
  }
  .main-header {
    min-height: 88px;
  }
}
